<div *ngIf="participation">
  <div *ngIf="!onThrow"><a routerLink="/throw/{{ throwId }}"><span>Throw: </span>{{throwId}}</a></div>
  <div *ngIf="!onThrow && throwState > 0"><span>Throw state: </span>{{throwState}}</div>
  <div><span>Participation id: {{ participation.participationId }}</span></div>
  <div><span>Participation state : </span>{{ participation.state }}</div>
  <div><span>From : </span>{{ participation.from }}</div>
  <div *ngIf="participation.hiddenSeed" ><span>Hidden Seed: {{ participation.hiddenSeed }}</span></div>
  <div *ngIf="participation.revealedSeed && participation.state > 0" ><span>Revealed Seed: {{ participation.revealedSeed }}</span></div>
  <div *ngIf="participation.revealedSeed && participation.state == 0" ><span>Revealed Seed ready</span></div>
  <button *ngIf="throwState == 2 && participation.state == 0 && participation.revealedSeed" (click)="revealParticipation()">Reveal participation</button>
  <button *ngIf="throwState == 3 && participation.state == 1" (click)="registerForWin()">Register participation as win</button>
  <button *ngIf="throwState == 4 && participation.state == 2 && participation.wintowithdraw" (click)="withdrawWin()">Withdraw this win</button>
</div>