<div *ngIf="athrow.calcPhase == 1">
  <span *ngIf="units != null">
<mat-form-field>
<amount-eth  placeholder = "Bid value :" [units]="units" [(ngModel)]="val"></amount-eth>
<mat-hint>Must be at least {{ minBidValue }} </mat-hint>
</mat-form-field>
</span>
<!--<label>Bid value:
  <input placeholder="0" [(ngModel)]="bidValue"/>
</label>-->
<button mat-raised-button *ngIf="!invalidBidValue()" (click)="newParticipation()">Launch a new participation</button>
<mat-hint *ngIf="athrow.bidType == 2">Two consecutive transactions will need to be accepted (allow transfer then start)</mat-hint>

</div>
<div>
<!--
<mat-form-field>
<eth-amount placeholder = "Bid value :" [(ngModel)]="tel" ></eth-amount>
<mat-hint>Must be at least {{ minBidValue }} </mat-hint>
</mat-form-field>
-->
</div>