<div *ngIf="thr">
    <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Infos
            </mat-panel-title>
            <mat-panel-description>
              Throw general infos
            </mat-panel-description>
          </mat-expansion-panel-header>   
  <div>
    <a routerLink="/throw/{{ thr.address }}">
    <span>Address: </span>{{thr.address}}</a>
  </div>
  <div><span>Registered phase : </span><span
    matBadge="!" matBadgeHidden="{{ !changedPhase }}" matBadgeColor="primary" (mouseleave)="changedPhase = false"
    >{{ phaseLabel(thr.currentPhase) }}&nbsp;&nbsp;</span></div>
  <div><span>Updated phase : </span><span
    matBadge="!" matBadgeHidden="{{ !calcPhaseBadge }}" matBadgeColor="primary" (mouseleave)="calcPhaseBadge = false"
    >{{ phaseLabel(thr.calcPhase) }}&nbsp;&nbsp;</span></div>
  <div *ngIf="nextPhase"><span>Next phase date limit : </span><span
    >{{ nextPhase }}&nbsp;&nbsp;</span></div>
  <div><span>Nb: </span><span 
    matBadge="{{ participationNbBadge }}" matBadgeHidden="{{ participationNbBadge == 0 }}" matBadgeColor="accent" (mouseleave)="participationNbBadge = 0"
    >{{thr.numberOfBid}} <span *ngIf="thr.currentPhase == 1 && maxParticipant"> / {{ maxParticipant }}</span>&nbsp;&nbsp;</span></div>
  <div><span>Total: </span><span 
    matBadge="{{ participationValueBadge }}" matBadgeHidden="{{ participationValueBadge == 0 }}" matBadgeColor="warn" (mouseleave)="participationValueBadge = 0"
    >{{thr.totalBidValue}}&nbsp;&nbsp;</span></div>
  <div><span>Revealed: </span><span
    matBadge="{{ participationRevealBadge }}" matBadgeHidden="{{ participationRevealBadge == 0 }}" matBadgeColor="warn" (mouseleave)="participationRevealBadge = 0"
    >{{thr.numberOfRevealParticipation}}&nbsp;&nbsp;</span></div>
  <div><span>Thrower : </span>{{thr.thrower}}</div>
  <div><span>Author Contract Margin : </span>{{ i32ToPercent(thr.authorContractMargin) }}</div>
  <div><span>Author Dapp Margin : </span>{{ i32ToPercent(thr.authorDappMargin) }}</div>
  <div><span>Owner Margin : </span>{{ i32ToPercent(thr.ownerMargin) }}</div>
  <div><span>Thrower Margin : </span>{{ i32ToPercent(thr.throwerMargin) }}</div>
  <div><span>Total Margin : </span>{{ i32ToPercent(thr.totalMargin) }}</div>
  <div>
    <a routerLink="/phaseparam/{{ thr.paramsPhaseId }}">
    <span>Phases Rules: </span>{{thr.paramsPhaseId}}</a>
  </div>

  <div>
    <a routerLink="/lotterieparam/{{ thr.paramsId }}">
    <span>Rules: </span>{{thr.paramsId}}</a>
  </div>

</mat-expansion-panel>

   <mat-expansion-panel *ngIf="thr.calcPhase > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Participations <button (click)="reloadParticipations()">reload</button>
            </mat-panel-title>
            <mat-panel-description>
              Current participations 
            </mat-panel-description>
          </mat-expansion-panel-header>
    <app-participations [athrow]="thr" [subscribeP]="subParticipations" [subscribeThrowEvent]="subThrowEvent"></app-participations>
  </mat-expansion-panel>
   <mat-expansion-panel *ngIf="thr.calcPhase > 2">
          <mat-expansion-panel-header>
            <mat-panel-title
    matBadge="{{ winnersBadge }}" matBadgeHidden="{{ winnersBadge == 0 }}" matBadgeColor="accent" (mouseleave)="winnersBadge = 0"
            >
              Winners 
            </mat-panel-title>
            <mat-panel-description>
              Current throw winners 
            </mat-panel-description>
          </mat-expansion-panel-header>   

 <ul *ngFor="let w of sortedWinners">
   <li>
    <app-participation-detail 
      [throwLib]="thr.throwLib"
      [throwId]="thr.address"
      [throwState]="thr.calcPhase"
      [participation]="w"
    ></app-participation-detail>
   </li>
  </ul>
  </mat-expansion-panel>
   <mat-expansion-panel *ngIf="thr.calcPhase == 1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Participate 
            </mat-panel-title>
            <mat-panel-description>
              Add a participation
            </mat-panel-description>
          </mat-expansion-panel-header>   
    <app-participation-new [athrow]="thr"></app-participation-new>
    </mat-expansion-panel>
   <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              New throw 
            </mat-panel-title>
            <mat-panel-description>
              Start a new throw 
            </mat-panel-description>
          </mat-expansion-panel-header>   
  <app-throw-new [params]="thr.paramsId"></app-throw-new>
 </mat-expansion-panel>

</mat-accordion>
<button mat-raised-button (click)="goBack()">go back</button>
</div>