<label>Lotterie parameters:
  <input [(ngModel)]="params" />
</label>
<label>Lotterie phase parameters:
  <input [(ngModel)]="paramsPhaseId" />
</label>
<label>Initial winning prize:
  <input [(ngModel)]="initWinValue" />
</label>
<label>Owner Margin:
  <input [(ngModel)]="ownerMargin" />
</label>
<label>Author contract Margin:
  <input [(ngModel)]="authorContractMargin" />
</label>
<label>Author dapp Margin:
  <input [(ngModel)]="authorDappMargin" />
</label>
<label>Thrower Margin:
  <input [(ngModel)]="throwerMargin" />
</label>
<button mat-raised-button (click)="newThrow()">Launch a new throw</button>
<button mat-raised-button (click)="goBack()">go back</button>
