<p>
  Throws! Total nb throws : {{ totalThrows }}
</p>
<mat-paginator [length]="totalPagLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="getThrows($event)">
</mat-paginator>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let thr$ of managedThrows$">
  <span  *ngIf="(thr$ | async) as thr">
    <app-throw-details-small [thr]="thr"></app-throw-details-small>
  </span>
  </mat-grid-tile>
</mat-grid-list>
<button mat-raised-button routerLink="/newthrow">New throw</button>