<div *ngIf="param && view()">
  <div><span>id: </span>{{param.id}}</div>
  <div><span>Participation start date treshold: {{ dispDateDuration(param.participationStartMode,param.participationStartTreshold) }}</span></div>
  <div><span>Participation end value: {{ dispDateDurationPart(param.participationEndMode,param.participationEndValue) }}</span></div>
  <div><span>Cashout end value: {{ dispDateDuration(param.cashoutEndMode,param.cashoutEndValue) }}</span></div>
  <div><span>Throw end value: {{ dispDateDuration(param.throwEndMode,param.throwEndValue) }}</span></div>
  <div><span>Participation start date mode: {{ coutMode(param.participationStartMode) }}</span></div>
  <div><span>Participation end mode: {{ partMode(param.participationEndMode) }}</span></div>
  <div><span>Cashout end mode: {{ coutMode(param.cashoutEndMode) }}</span></div>
  <div><span>Throw end mode: {{ coutMode(param.throwEndMode) }}</span></div>
</div>
<div *ngIf="inline()">
  <div><span>
      <!-- TODO solve error on routerlink <a routerLink="/param/{{ param.id }}"> -->
      <a routerLink="/phaseparam/{{ param.id }}">
        id: {{ param.id }}
      </a>
  , Participation start date treshold: {{ dispDateDuration(param.participationStartMode,param.participationStartTreshold) }}
  , Participation end value: {{ dispDateDurationPart(param.participationEndMode,param.participationEndValue) }}
  , Cashout end value: {{ dispDateDuration(param.cashoutEndMode,param.cashoutEndValue) }}
  , Throw end value: {{ dispDateDuration(param.throwEndMode,param.throwEndValue) }}
  , Participation start mode: {{ coutMode(param.participationStartMode) }}
  , Participation end mode: {{ partMode(param.participationEndMode) }}
  , Cashout end mode: {{ coutMode(param.cashoutEndMode) }}
  , Throw end mode: {{ coutMode(param.throwEndMode) }}
  </span></div>
</div>
<div *ngIf="!inline()">
  <button mat-raised-button (click)="goBack()">go back</button>
</div>